*.py[cod]
vendor/
build/
dist/
.idea
.env
.venv
*.so
*.sw[po]
nosetests.xml
.DS_Store
*.egg-info
*.egg
!.gitignore
*.orig
*.html~
*.log
.vagrant
dump.rdb
celerybeat.pid
celerybeat-schedule*
celerybeat-schedule.db

node_modules
.tmp
sub/.tem
sub/static
tests/.cache
static
static-src/libs
assets.json
.sass-cache
npm-debug.log

# Packages
lib
!static-src/front/scripts/lib
.coverage
TODO
